body, .wiki, #Content, .wikipage { font-family: "Lucida Grande","Trebuchet MS","Bitstream Vera Sans",Verdana,Helvetica,sans-serif; font-size: 1em !important; line-height: 1.3em; color: #000 !important; }
img { border: 0; }
.wiki pre { font-size: 1em !important; font-family: Inconsolata, Monaco, Consolas, "Lucida Console", "Courier New", Courier, monospace;background-color: transparent;border: 0px;border-left: 1px solid #d6d6d6;margin: 2em 0 3em 0;padding: 0 10px; color: #000 !important; }
#DesignedBy { clear: both; text-align: left; margin-top: 1em; font-size: 0.8em; }
#DesignedBy, #DesignedBy a, #DesignedBy a:link, #DesignedBy a:visited, #DesignedBy a:hover, #DesignedBy a:active { color: #999; }

#leftcolumn, #toc, #Resources, #contentEditButton, #editor_wrap, #WikispacesHelp { display: none !important; }
body, #AllContentContainer, #rightcolumn {float: none !important; width: auto !important;  margin: 0 !important; padding: 0 !important;	border: 0 !important; background-color: #fff; background-image: none;}

#Header { position: relative; clear: both; overflow: visible !important; height: 110px; }
#Logo { width: 138px;height: 100px; position:relative !important; padding: 0 !important; float: left; }
#Logo, #Logo img { border: none; }
#Header h1 { float: left; background: none !important;border: 0;margin: 0;padding: 0; position: absolute;top: 0px;left: 138px; text-indent: 0; line-height: 100px; font-size: 36pt; vertical-align:middle; }
#Header h1 a:link, #Header h1 a:visited, #Header h1 a:hover { border: 0;display: inline !important;margin: 0;padding: 0;text-decoration: none; width:auto !important; height: auto !important; color: #3D5A96 !important; }

#content_view h1 { text-align: center; }

h2 { margin-top: 2em; }
hr { background-color:#aaa;color:#aaa;height: 1px;margin:0; }

#foot { margin-top: 1em; font-size: 0.9em; }
#foot div { text-align: left !important; }
